[rhel-server-6.6]
name=rhel-server-6.6
baseurl=http://storage/repo/rhel66
enabled=1
gpgcheck=0

[jb-eap-6-for-rhel-6-server-rpms]
name=jb-eap-6-for-rhel-6-server-rpms
baseurl=http://storage/repo/jb-eap-6-for-rhel-6-server-rpms
enabled=0
gpgcheck=0

[rhel-6-server-rhevm-3.5-rpms]
name=rhel-6-server-rhevm-3.5-rpms
baseurl=http://storage/repo/rhel-6-server-rhevm-3.5-rpms
enabled=0
gpgcheck=0

[rhel-6-server-rhev-mgmt-agent-rpms]
name=rhel-6-server-rhev-mgmt-agent-rpms
baseurl=http://storage/repo/rhel-6-server-rhev-mgmt-agent-rpms
enabled=1
gpgcheck=0
